<header class="f-header js-f-header bg hide-nav js-hide-nav js-hide-nav--main" data-nav-target-class="f-header--expanded" id="{{ page.title }}-navigation">
    <div class="f-header__mobile-content container max-width-lg">
      <a href="#0" class="f-header__logo">
        <img src="{{ site.logo }}" class="{{ site.company}}-logo" id="{{ page.title }}-header-logo" height="104" alt="{{ site.company }} Logo"/>
      </a>
  
      <button class="reset anim-menu-btn js-anim-menu-btn f-header__nav-control js-tab-focus" aria-label="Toggle menu">
        <i class="anim-menu-btn__icon anim-menu-btn__icon--close" aria-hidden="true"></i>
      </button>
    </div>
  
    <div class="f-header__nav" role="navigation">
      <div class="f-header__nav-grid justify-between@md container max-width-lg">
        <div class="f-header__nav-logo-wrapper flex-grow flex-basis-0">
          <a href="#0" class="f-header__logo">
            <img src="{{ site.logo }}" class="{{ site.company}}-logo" id="{{ page.title }}-header-logo-main" alt="{{ site.company }} Logo"/>
          </a>
        </div>
  
        <ul class="f-header__list flex-grow flex-basis-0 justify-center@md">
          {% for item in site.data.navigation %}
          <li class="f-header__item"><a href="{{ item.link }}"{% if page.url == item.link %}style="display:none;"{% endif %} class="f-header__link">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
  
        <ul class="f-header__list flex-grow flex-basis-0 justify-end@md">
          <li class="f-header__item"><a href="#0" class="f-header__link">Login</a></li>
          <li class="f-header__item"><a href="#0" class="f-header__btn btn btn--primary">Button</a></li>
        </ul>
      </div>
    </div>
  </header>