<section class="fk1-position-relative fk1-z-index-1 fk1-padding-y-xl">
    <div class="fk1-container fk1-max-width-adaptive-md">
      <div class="fk1-margin-bottom-xl">
        <h1 class="fk1-text-center">Questions &amp; Answers</h1>
      </div>
  
      <div class="fk1-grid fk1-gap-y-lg fk1-gap-lg@md">
        <div class="fk1-col-3@md">
          <div class="toc toc--static@md fk1-position-sticky@md js-toc">
            <button class="toc__control fk1-padding-sm  js-tab-focus js-toc__control" aria-controls="toc">
              <span class="toc__control-text">
                <i class="js-toc__control-label">Categories <span class="fk1-sr-only">- press button to select a category.</span></i>
                <i aria-hidden="true">Select</i>
              </span>
  
              <svg class="toc__icon-arrow fk1-icon fk1-icon--xs fk1-margin-left-3xs " viewBox="0 0 16 16" aria-hidden="true">
                <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                  <path d="M3 3l10 10"></path>
                  <path d="M13 3L3 13"></path>
                </g>
              </svg>
            </button>
  
            <nav class="toc__nav">
              <ul class="toc__list js-toc__list">
                <li class="toc__label" tabindex="0">Categories</li>
                <li><a class="toc__link js-smooth-scroll" href="#basics">Basics</a></li>
                <li><a class="toc__link js-smooth-scroll" href="#account">Account</a></li>
                <li><a class="toc__link js-smooth-scroll" href="#payments">Payments</a></li>
                <li><a class="toc__link js-smooth-scroll" href="#privacy">Privacy</a></li>
              </ul>
            </nav>
          </div>
        </div>
  
        <div class="toc-content js-toc-content fk1-col-9@md">
          <div class="fk1-grid fk1-gap-y-lg">
            <div>
              <h2 id="basics" class="fk1-text-md fk1-margin-bottom-xs">Basics</h2>
  
              <ul class="accordion-v2 fk1-flex fk1-flex-column fk1-gap-3xs js-accordion" data-animation="on" data-multi-items="on" data-version="v2">
  
                <li class="accordion-v2__item  js-accordion__item">
                  <button class="accordion-v2__header fk1-padding-y-sm fk1-padding-x-md js-tab-focus" type="button">
                    <span class="fk1-text-md">How do I change my password?</span>
  
                    <svg class="fk1-icon accordion-v2__icon-arrow " viewBox="0 0 20 20">
                      <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="3" y1="3" x2="17" y2="17" />
                        <line x1="17" y1="3" x2="3" y2="17" />
                      </g>
                    </svg>
                  </button>
  
                  <div class="accordion-v2__panel fk1-padding-top-3xs fk1-padding-x-md fk1-padding-bottom-md js-accordion__panel">
                    <div class="fk1-text-component fk1-line-height-lg">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
                    </div>
                  </div>
                </li>
  
                <li class="accordion-v2__item  js-accordion__item">
                  <button class="accordion-v2__header fk1-padding-y-sm fk1-padding-x-md js-tab-focus" type="button">
                    <span class="fk1-text-md">How do I sign up?</span>
  
                    <svg class="fk1-icon accordion-v2__icon-arrow " viewBox="0 0 20 20">
                      <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="3" y1="3" x2="17" y2="17" />
                        <line x1="17" y1="3" x2="3" y2="17" />
                      </g>
                    </svg>
                  </button>
  
                  <div class="accordion-v2__panel fk1-padding-top-3xs fk1-padding-x-md fk1-padding-bottom-md js-accordion__panel">
                    <div class="fk1-text-component fk1-line-height-lg">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
                    </div>
                  </div>
                </li>
  
                <li class="accordion-v2__item  js-accordion__item">
                  <button class="accordion-v2__header fk1-padding-y-sm fk1-padding-x-md js-tab-focus" type="button">
                    <span class="fk1-text-md">Do you offer a student discount?</span>
  
                    <svg class="fk1-icon accordion-v2__icon-arrow " viewBox="0 0 20 20">
                      <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="3" y1="3" x2="17" y2="17" />
                        <line x1="17" y1="3" x2="3" y2="17" />
                      </g>
                    </svg>
                  </button>
  
                  <div class="accordion-v2__panel fk1-padding-top-3xs fk1-padding-x-md fk1-padding-bottom-md js-accordion__panel">
                    <div class="fk1-text-component fk1-line-height-lg">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
                    </div>
                  </div>
                </li>
  
                <li class="accordion-v2__item  js-accordion__item">
                  <button class="accordion-v2__header fk1-padding-y-sm fk1-padding-x-md js-tab-focus" type="button">
                    <span class="fk1-text-md">How do I request a refund?</span>
  
                    <svg class="fk1-icon accordion-v2__icon-arrow " viewBox="0 0 20 20">
                      <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="3" y1="3" x2="17" y2="17" />
                        <line x1="17" y1="3" x2="3" y2="17" />
                      </g>
                    </svg>
                  </button>
  
                  <div class="accordion-v2__panel fk1-padding-top-3xs fk1-padding-x-md fk1-padding-bottom-md js-accordion__panel">
                    <div class="fk1-text-component fk1-line-height-lg">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
                    </div>
                  </div>
                </li>
  
              </ul>
            </div>
  
            <div>
              <h2 id="account" class="fk1-text-md fk1-margin-bottom-xs">Account</h2>
  
              <ul class="accordion-v2 fk1-flex fk1-flex-column fk1-gap-3xs js-accordion" data-animation="on" data-multi-items="on" data-version="v2">
  
                <li class="accordion-v2__item  js-accordion__item">
                  <button class="accordion-v2__header fk1-padding-y-sm fk1-padding-x-md js-tab-focus" type="button">
                    <span class="fk1-text-md">How do I change my password?</span>
  
                    <svg class="fk1-icon accordion-v2__icon-arrow " viewBox="0 0 20 20">
                      <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="3" y1="3" x2="17" y2="17" />
                        <line x1="17" y1="3" x2="3" y2="17" />
                      </g>
                    </svg>
                  </button>
  
                  <div class="accordion-v2__panel fk1-padding-top-3xs fk1-padding-x-md fk1-padding-bottom-md js-accordion__panel">
                    <div class="fk1-text-component fk1-line-height-lg">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
                    </div>
                  </div>
                </li>
  
                <li class="accordion-v2__item  js-accordion__item">
                  <button class="accordion-v2__header fk1-padding-y-sm fk1-padding-x-md js-tab-focus" type="button">
                    <span class="fk1-text-md">How do I delete my account?</span>
  
                    <svg class="fk1-icon accordion-v2__icon-arrow " viewBox="0 0 20 20">
                      <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="3" y1="3" x2="17" y2="17" />
                        <line x1="17" y1="3" x2="3" y2="17" />
                      </g>
                    </svg>
                  </button>
  
                  <div class="accordion-v2__panel fk1-padding-top-3xs fk1-padding-x-md fk1-padding-bottom-md js-accordion__panel">
                    <div class="fk1-text-component fk1-line-height-lg">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
                    </div>
                  </div>
                </li>
  
                <li class="accordion-v2__item  js-accordion__item">
                  <button class="accordion-v2__header fk1-padding-y-sm fk1-padding-x-md js-tab-focus" type="button">
                    <span class="fk1-text-md">I forgot my password. How do I reset it?</span>
  
                    <svg class="fk1-icon accordion-v2__icon-arrow " viewBox="0 0 20 20">
                      <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="3" y1="3" x2="17" y2="17" />
                        <line x1="17" y1="3" x2="3" y2="17" />
                      </g>
                    </svg>
                  </button>
  
                  <div class="accordion-v2__panel fk1-padding-top-3xs fk1-padding-x-md fk1-padding-bottom-md js-accordion__panel">
                    <div class="fk1-text-component fk1-line-height-lg">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
                    </div>
                  </div>
                </li>
  
                <li class="accordion-v2__item  js-accordion__item">
                  <button class="accordion-v2__header fk1-padding-y-sm fk1-padding-x-md js-tab-focus" type="button">
                    <span class="fk1-text-md">How do I change my account settings?</span>
  
                    <svg class="fk1-icon accordion-v2__icon-arrow " viewBox="0 0 20 20">
                      <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="3" y1="3" x2="17" y2="17" />
                        <line x1="17" y1="3" x2="3" y2="17" />
                      </g>
                    </svg>
                  </button>
  
                  <div class="accordion-v2__panel fk1-padding-top-3xs fk1-padding-x-md fk1-padding-bottom-md js-accordion__panel">
                    <div class="fk1-text-component fk1-line-height-lg">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
                    </div>
                  </div>
                </li>
  
              </ul>
            </div>
  
            <div>
              <h2 id="payments" class="fk1-text-md fk1-margin-bottom-xs">Payments</h2>
  
              <ul class="accordion-v2 fk1-flex fk1-flex-column fk1-gap-3xs js-accordion" data-animation="on" data-multi-items="on" data-version="v2">
  
                <li class="accordion-v2__item  js-accordion__item">
                  <button class="accordion-v2__header fk1-padding-y-sm fk1-padding-x-md js-tab-focus" type="button">
                    <span class="fk1-text-md">Where can I download an invoice?</span>
  
                    <svg class="fk1-icon accordion-v2__icon-arrow " viewBox="0 0 20 20">
                      <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="3" y1="3" x2="17" y2="17" />
                        <line x1="17" y1="3" x2="3" y2="17" />
                      </g>
                    </svg>
                  </button>
  
                  <div class="accordion-v2__panel fk1-padding-top-3xs fk1-padding-x-md fk1-padding-bottom-md js-accordion__panel">
                    <div class="fk1-text-component fk1-line-height-lg">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
                    </div>
                  </div>
                </li>
  
                <li class="accordion-v2__item  js-accordion__item">
                  <button class="accordion-v2__header fk1-padding-y-sm fk1-padding-x-md js-tab-focus" type="button">
                    <span class="fk1-text-md">Why did my payment fail?</span>
  
                    <svg class="fk1-icon accordion-v2__icon-arrow " viewBox="0 0 20 20">
                      <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="3" y1="3" x2="17" y2="17" />
                        <line x1="17" y1="3" x2="3" y2="17" />
                      </g>
                    </svg>
                  </button>
  
                  <div class="accordion-v2__panel fk1-padding-top-3xs fk1-padding-x-md fk1-padding-bottom-md js-accordion__panel">
                    <div class="fk1-text-component fk1-line-height-lg">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
                    </div>
                  </div>
                </li>
  
                <li class="accordion-v2__item  js-accordion__item">
                  <button class="accordion-v2__header fk1-padding-y-sm fk1-padding-x-md js-tab-focus" type="button">
                    <span class="fk1-text-md">Can I pay using Paypal?</span>
  
                    <svg class="fk1-icon accordion-v2__icon-arrow " viewBox="0 0 20 20">
                      <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="3" y1="3" x2="17" y2="17" />
                        <line x1="17" y1="3" x2="3" y2="17" />
                      </g>
                    </svg>
                  </button>
  
                  <div class="accordion-v2__panel fk1-padding-top-3xs fk1-padding-x-md fk1-padding-bottom-md js-accordion__panel">
                    <div class="fk1-text-component fk1-line-height-lg">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
                    </div>
                  </div>
                </li>
  
              </ul>
            </div>
  
            <div>
              <h2 id="privacy" class="fk1-text-md fk1-margin-bottom-xs">Privacy</h2>
  
              <ul class="accordion-v2 fk1-flex fk1-flex-column fk1-gap-3xs js-accordion" data-animation="on" data-multi-items="on" data-version="v2">
  
                <li class="accordion-v2__item  js-accordion__item">
                  <button class="accordion-v2__header fk1-padding-y-sm fk1-padding-x-md js-tab-focus" type="button">
                    <span class="fk1-text-md">Can I specify my own private key?</span>
  
                    <svg class="fk1-icon accordion-v2__icon-arrow " viewBox="0 0 20 20">
                      <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="3" y1="3" x2="17" y2="17" />
                        <line x1="17" y1="3" x2="3" y2="17" />
                      </g>
                    </svg>
                  </button>
  
                  <div class="accordion-v2__panel fk1-padding-top-3xs fk1-padding-x-md fk1-padding-bottom-md js-accordion__panel">
                    <div class="fk1-text-component fk1-line-height-lg">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
                    </div>
                  </div>
                </li>
  
                <li class="accordion-v2__item  js-accordion__item">
                  <button class="accordion-v2__header fk1-padding-y-sm fk1-padding-x-md js-tab-focus" type="button">
                    <span class="fk1-text-md">My files are missing. How do I get them back?</span>
  
                    <svg class="fk1-icon accordion-v2__icon-arrow " viewBox="0 0 20 20">
                      <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="3" y1="3" x2="17" y2="17" />
                        <line x1="17" y1="3" x2="3" y2="17" />
                      </g>
                    </svg>
                  </button>
  
                  <div class="accordion-v2__panel fk1-padding-top-3xs fk1-padding-x-md fk1-padding-bottom-md js-accordion__panel">
                    <div class="fk1-text-component fk1-line-height-lg">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
                    </div>
                  </div>
                </li>
  
                <li class="accordion-v2__item  js-accordion__item">
                  <button class="accordion-v2__header fk1-padding-y-sm fk1-padding-x-md js-tab-focus" type="button">
                    <span class="fk1-text-md">How can I delete my account data?</span>
  
                    <svg class="fk1-icon accordion-v2__icon-arrow " viewBox="0 0 20 20">
                      <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="3" y1="3" x2="17" y2="17" />
                        <line x1="17" y1="3" x2="3" y2="17" />
                      </g>
                    </svg>
                  </button>
  
                  <div class="accordion-v2__panel fk1-padding-top-3xs fk1-padding-x-md fk1-padding-bottom-md js-accordion__panel">
                    <div class="fk1-text-component fk1-line-height-lg">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
                    </div>
                  </div>
                </li>
  
                <li class="accordion-v2__item  js-accordion__item">
                  <button class="accordion-v2__header fk1-padding-y-sm fk1-padding-x-md js-tab-focus" type="button">
                    <span class="fk1-text-md">Do you store any private information?</span>
  
                    <svg class="fk1-icon accordion-v2__icon-arrow " viewBox="0 0 20 20">
                      <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="3" y1="3" x2="17" y2="17" />
                        <line x1="17" y1="3" x2="3" y2="17" />
                      </g>
                    </svg>
                  </button>
  
                  <div class="accordion-v2__panel fk1-padding-top-3xs fk1-padding-x-md fk1-padding-bottom-md js-accordion__panel">
                    <div class="fk1-text-component fk1-line-height-lg">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
                    </div>
                  </div>
                </li>
  
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>