<section class="hero">
    <div class="cd-container cd-max-width-adaptive-sm">
      <div class="hero__label cd-margin-bottom-2xs">{{ site.company }}</div>
  
      <h1 class="cd-margin-bottom-xs">Small Business | Big Dreams</h1>
  
      <p class="cd-line-height-lg cd-margin-bottom-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, rem neque doloribus impedit explicabo minus laborum cupiditate atque esse consectetur.</p>
  
      <div class="hero__cta">
        <a href="#0" class="cd-btn cd-btn--primary">My Services</a>
        <a href="#0" class="cd-link cd-link--contrast-higher">GET A QUOTE</a>
      </div>
    </div>
  </section>