<div class="t-banner js-t-banner">
    <!-- background images slideshow -->
    <div class="t-banner__bg-slideshow slideshow slideshow--transition-fade js-t-banner__bg-slideshow" aria-hidden="true">
      <ul class="slideshow__content">
        <li class="slideshow__item js-slideshow__item">
          <figure class="t-banner__figure">
            <img src="../../../app/assets/img/testimonial-banner-img-1.jpg" alt="Image description">
          </figure>
        </li>
        
        <li class="slideshow__item js-slideshow__item">
          <figure class="t-banner__figure">
            <img src="../../../app/assets/img/testimonial-banner-img-2.jpg" alt="Image description">
          </figure>
        </li>
        
        <li class="slideshow__item js-slideshow__item">
          <figure class="t-banner__figure">
            <img src="../../../app/assets/img/testimonial-banner-img-3.jpg" alt="Image description">
          </figure>
        </li>
      </ul>
    </div>
  
    <!-- content slideshow -->
    <div class="t-banner__content-slideshow slideshow slideshow--transition-slide js-t-banner__content-slideshow">
      <p class="tx3-sr-only">Slideshow Items</p>
      
      <ul class="slideshow__content">
        <li class="slideshow__item js-slideshow__item">
          <div class="t-banner__content-grid">
            <div class="t-banner__logo-wrapper">
              <svg class="tx3-icon tx3-icon--lg tx3-color-contrast-higher" viewBox="0 0 48 48">
                <title>Client logo 1</title>
                <g fill="currentColor">
                  <path d="M8.444 8.444a22 22 0 1 0 31.112 0 22 22 0 0 0-31.112 0zm26.163 13.435a3 3 0 0 1 0 4.242l-8.486 8.486a3 3 0 0 1-4.242 0l-8.486-8.486a3 3 0 0 1 0-4.242l8.486-8.486a3 3 0 0 1 4.242 0z"></path>
                </g>
              </svg>
            </div>
  
            <div>
              <p class="t-banner__quote">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, quidem saepe eligendi excepturi fuga nostrum placeat?</p>
            </div>
          </div>
        </li>
        
        <li class="slideshow__item js-slideshow__item">
          <div class="t-banner__content-grid">
            <div class="t-banner__logo-wrapper">
              <svg class="tx3-icon tx3-icon--lg tx3-color-contrast-higher" viewBox="0 0 48 48">
                <title>Client logo 2</title>
                <g fill="currentColor">
                  <path d="M24 2a22 22 0 1 0 22 22A22 22 0 0 0 24 2zm8.554 29H15.446a2 2 0 0 1-1.736-2.992l8.553-14.969a2 2 0 0 1 3.474 0l8.553 14.969A2 2 0 0 1 32.554 31z"></path>
                </g>
              </svg>
            </div>
  
            <div>
              <p class="t-banner__quote">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, perspiciatis.</p>
            </div>
          </div>
        </li>
        
        <li class="slideshow__item js-slideshow__item">
          <div class="t-banner__content-grid">
            <div class="t-banner__logo-wrapper">
              <svg class="tx3-icon tx3-icon--lg tx3-color-contrast-higher" viewBox="0 0 48 48">
                <title>Client logo 3</title>
                <g fill="currentColor">
                  <path d="M37 3H11a8 8 0 0 0-8 8v26a8 8 0 0 0 8 8h26a8 8 0 0 0 8-8V11a8 8 0 0 0-8-8zM24 35a11 11 0 1 1 11-11 11 11 0 0 1-11 11z"></path>
                </g>
              </svg>
            </div>
  
            <div>
              <p class="t-banner__quote">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia numquam ipsum non!</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  
    <ul>
      <li class="t-banner__control js-slideshow__control">
        <button class="t-banner__btn">
          <svg class="tx3-icon tx3-icon--xs" viewBox="0 0 16 16">
            <title>Show previous slide</title>
            <g fill="currentColor">
              <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" fill-rule="evenodd" d="M10 2l-6 6 6 6"></path>
            </g>
          </svg>
        </button>
      </li>
  
      <li class="t-banner__control js-slideshow__control">
        <button class="t-banner__btn">
          <svg class="tx3-icon tx3-icon--xs" viewBox="0 0 16 16">
            <title>Show next slide</title>
            <g fill="currentColor">
              <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" fill-rule="evenodd" d="M6 2l6 6-6 6"></path>
            </g>
          </svg>
        </button>
      </li>
    </ul>
  </div>