  
        <li class="feature-v20__item">
            <figure class="feature-v20__icon-wrapper" style="width: 100px;">
             {% include icons/{{ include.icon }}.html delay="1" speed="100" trigger="loop" %}
             <script src="https://creattie.com/js/embed.js?id=adfc0335539d5f5148f7" defer></script>
            </figure>
    
            <div class="cd-text-center">
              <h4 class="cd-margin-bottom-2xs">{{ include.title }}</h4>
              <p class="feature-v20__paragraph">{{ include.description }}</p>
            </div>
          </li>