<section class="testimonial tf8-position-relative tf8-z-index-1 tf8-padding-y-2xl">
    <div class="tf8-container tf8-max-width-adaptive-sm">
      <figure class="tf8-flex tf8-justify-center tf8-margin-bottom-md reveal-fx reveal-fx--scale">
        <img class="tf8-block tf8-width-2xl tf8-height-2xl tf8-radius-50% tf8-border tf8-border-bg tf8-border-2 tf8-shadow-sm" src="https://i.pinimg.com/736x/d7/75/d6/d775d60555344bd88a526d14abb96944.jpg" alt="Testimonial picture">
      </figure>
  
      <div class="testimonial__block-wrapper tf8-margin-bottom-lg">
        <blockquote class="tf8-text-lg tf8-text-center tf8-line-height-md ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi atque doloremque beatae! Doloremque perspiciatis aliquid repellat quasi praesentium, minima nobis assumenda ex?</blockquote>
  
        <svg class="tf8-icon tf8-icon--2xl tf8-color-contrast-higher tf8-opacity-10%" aria-hidden="true" viewBox="0 0 64 64"><polygon fill="currentColor" points="2 36 17 2 26 2 15 36 26 36 26 62 2 62 2 36"/><polygon fill="currentColor" points="38 36 53 2 62 2 51 36 62 36 62 62 38 62 38 36"/></svg>
      </div>
      
  
      <div class="tf8-text-center">
        <p class="tf8-text-uppercase tf8-letter-spacing-md"><strong>Emily Ewing</strong></p>
        <p class="tf8-color-contrast-medium tf8-margin-top-4xs">Designer at CompanyX</p>
      </div>
    </div>
  </section>