<section class="fx7-position-relative fx7-z-index-1 fx7-padding-y-xl">
    <div class="fx7-container fx7-max-width-adaptive-lg">
      <div class="fx7-grid fx7-gap-y-lg fx7-gap-lg@md fx7-items-center">
        <div class="fx7-col-5@md">
          <div class="fx7-text-component">
            <p class="fx7-text-sm fx7-color-contrast-medium">How it works</p>
            <h1>Lorem ipsum</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, rem neque doloribus impedit explicabo.</p>
          </div>
  
          <div class="fx7-margin-top-sm">
            <div class="fx7-flex fx7-flex-wrap fx7-gap-sm fx7-items-center">
              <a href="#0" class="fx7-btn fx7-btn--primary">Download</a>
              <a href="#0" class="fx7-color-inherit">Learn more</a>
            </div>
          </div>
        </div>
  
        <div class="fx7-col-7@md">
          <div class="device-group-3">
  
            <div class="dev-phone dev-phone--top-light" aria-label="Image description">
              <div class="dev-phone__body">
                <div class="dev-phone__media">
                  <div class="dev-phone__notch"></div>
                  <svg viewBox="0 0 750 1334">
                    <rect width="750" height="1334" fill="hsl(var(--fx7-color-contrast-lower-hsl))" />
                    <path d="M130 850.633L436.4 544.233L620.24 850.633H130Z" fill="hsl(var(--fx7-color-contrast-medium-hsl))" />
                    <path d="M192.328 606.56C226.172 606.56 253.608 579.124 253.608 545.28C253.608 511.436 226.172 484 192.328 484C158.484 484 131.048 511.436 131.048 545.28C131.048 579.124 158.484 606.56 192.328 606.56Z" fill="hsl(var(--fx7-color-contrast-medium-hsl))" />
                  </svg>
                </div>
              </div>
              <div class="dev-phone__shadow"></div>
            </div>
  
            <div class="dev-desktop " aria-label="Image description">
              <div class="dev-desktop__body">
                <div class="dev-desktop__media">
                  <svg viewBox="0 0 1920 1200">
                    <rect width="1920" height="1200" fill="hsl(var(--fx7-color-contrast-lower-hsl))" />
                    <path d="M639.76 839.094L1039.91 438.944L1280 839.094H639.76Z" fill="hsl(var(--fx7-color-contrast-medium-hsl))" />
                    <path d="M721.158 520.342C765.357 520.342 801.188 484.511 801.188 440.312C801.188 396.113 765.357 360.282 721.158 360.282C676.959 360.282 641.128 396.113 641.128 440.312C641.128 484.511 676.959 520.342 721.158 520.342Z" fill="hsl(var(--fx7-color-contrast-medium-hsl))" />
                  </svg>
                </div>
              </div>
              <div class="dev-desktop__base">
                <div class="dev-desktop__base-top"></div>
                <div class="dev-desktop__base-bottom"></div>
                <div class="dev-desktop__shadow"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>