<section class="fs8-position-relative fs8-z-index-1 fs8-padding-y-lg">
    <div class="fs8-container fs8-max-width-adaptive-lg">
      <div class="fs8-grid fs8-gap-md fs8-items-center">
        <div class="fs8-col-6@md">
          <div class="fs8-text-component">
            <p class="fs8-text-sm fs8-color-contrast-medium">This is a Label</p>
            <h1>Lorem ipsum dolor sit.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, rem neque doloribus impedit explicabo minus laborum cupiditate atque esse consectetur.</p>
          </div>
  
          <div class="fs8-margin-top-sm">
            <div class="fs8-flex fs8-flex-wrap fs8-gap-sm fs8-items-center">
              <a href="#0" class="fs8-btn fs8-btn--primary">Download</a>
              <a href="#0" class="fs8-color-inherit">Learn more</a>
            </div>
          </div>
        </div>
  
        <div class="fs8-col-6@md">
  
          <div class="diamond-grid ">
            <div class="diamond-grid__inner">
  
              <div class="diamond-grid__item fs8-bg-contrast-lower fs8-shadow-md">
                <img class="diamond-grid__img" src="../../../app/assets/img/diamond-grid-img-1.jpg" alt="Image description">
              </div>
  
              <div class="diamond-grid__item fs8-bg-contrast-lower fs8-shadow-md">
                <img class="diamond-grid__img" src="../../../app/assets/img/diamond-grid-img-2.jpg" alt="Image description">
              </div>
  
              <div class="diamond-grid__item fs8-bg-contrast-lower fs8-shadow-md">
                <img class="diamond-grid__img" src="../../../app/assets/img/diamond-grid-img-3.jpg" alt="Image description">
              </div>
  
              <div class="diamond-grid__item fs8-bg-contrast-lower fs8-shadow-md">
                <img class="diamond-grid__img" src="../../../app/assets/img/diamond-grid-img-4.jpg" alt="Image description">
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>