<section class="feature-v20 cd-padding-y-xl">
    <div class="cd-container cd-max-width-sm cd-margin-bottom-xl">
      <h2 class="cd-text-center">Services built for small business</h2>
    </div>
  
    <div class="cd-container cd-max-width-adaptive-lg" style="margin-bottom: 10vh;">
      <ul class="feature-v20__list">
        {% include items/list_item.html icon="code" title="Custom Coding" description="Nothing too big or too small. 100% custom coded sites and apps" %}
        {% include items/list_item.html icon="chart" title="SEO" description="Rank better than your competitors and make sure your potential customers find you" %}
        {% include items/list_item.html icon="gears" title="Business Automation" description="Automate your business for a fraction of the cost and, save time and money" %}
        {% include items/list_item.html icon="domains" title="Hosting" description="Secure and decentralized hosting for domains, server and, trusted email servers" %}
      </ul>
    </div>

  <!--IF YOU WANT TO HAVE TO HAVE TWO ROWS, UNCOMMENT THIS-->
   <!-- <div class="cd-container cd-max-width-adaptive-lg">
      <ul class="feature-v20__list">
        {% include items/list_item.html icon="code" title="Custom Coding" description="Nothing too big or too small. 100% custom coded sites and apps" %}
        {% include items/list_item.html icon="chart" title="SEO" description="Rank better than your competitors and make sure your potential customers find you" %}
        {% include items/list_item.html icon="gears" title="Business Automation" description="Automate your business for a fraction of the cost and, save time and money" %}
        {% include items/list_item.html icon="gears" title="Business Automation" description="Automate your business for a fraction of the cost and, save time and money" %}
      </ul>
    </div>
  -->
  </section>