<section class="sticky-feature js-sticky-feature">
    <div class="sticky-feature__container">
      <div class="sticky-feature__grid-1">
        <div>
          <ul class="sticky-feature__content-list sticky-feature__grid-2 js-sticky-feature__content-list">
            <li class="js-sticky-feature__content-item">
              <h3 class="sticky-feature__title js-sticky-feature__title">Import and organize all your icons</h3>
    
              <figure class="sticky-feature__content-figure">
                <img src="../../../app/assets/img/sticky-feature-img-1.png" alt="Image description">
              </figure>
            </li>
    
            <li class="js-sticky-feature__content-item">
              <h3 class="sticky-feature__title js-sticky-feature__title">Cutomize colors and strokes</h3>
              
              <figure class="sticky-feature__content-figure">
                <img src="../../../app/assets/img/sticky-feature-img-2.png" alt="Image description">
              </figure>
            </li>
    
            <li class="js-sticky-feature__content-item">
              <h3 class="sticky-feature__title js-sticky-feature__title">Export your icons in different formats</h3>
              
              <figure class="sticky-feature__content-figure">
                <img src="../../../app/assets/img/sticky-feature-img-3.png" alt="Image description">
              </figure>
            </li>
    
            <li class="js-sticky-feature__content-item">
              <h3 class="sticky-feature__title js-sticky-feature__title">Share projects with your team</h3>
              
              <figure class="sticky-feature__content-figure">
                <img src="../../../app/assets/img/sticky-feature-img-4.png" alt="Image description">
              </figure>
            </li>
          </ul>
        </div>
    
        <div class="sticky-feature-display@md" aria-hidden="true">
          <ul class="sticky-feature__media-list js-sticky-feature__media-list">
            <li class="sticky-feature__media-item js-sticky-feature__media-item">
              <figure class="sticky-feature__media-figure">
                <img src="../../../app/assets/img/sticky-feature-img-1.png" alt="Image description">
              </figure>
            </li>
    
            <li class="sticky-feature__media-item js-sticky-feature__media-item">
              <figure class="sticky-feature__media-figure">
                <img src="../../../app/assets/img/sticky-feature-img-2.png" alt="Image description">
              </figure>
            </li>
    
            <li class="sticky-feature__media-item js-sticky-feature__media-item">
              <figure class="sticky-feature__media-figure">
                <img src="../../../app/assets/img/sticky-feature-img-3.png" alt="Image description">
              </figure>
            </li>
    
            <li class="sticky-feature__media-item js-sticky-feature__media-item">
              <figure class="sticky-feature__media-figure">
                <img src="../../../app/assets/img/sticky-feature-img-4.png" alt="Image description">
              </figure>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>