<div class="tab-features-v2 js-tabs" data-show-panel-class="tab-features-v2__panel--display" data-hide-panel-class="tab-features-v2__panel--hide">
    <ul class="tab-features-v2__controls-list js-tabs__controls" aria-label="Tabs navigation">
      <li>
        <a href="#tab-features-1" class="tab-features-v2__control" aria-selected="true">
          <span class="tab-features-v2__control-title">Navigations</span>
          <span class="tab-features-v2__control-description">Lorem ipsum dolor sit amet consectetur adipisicing elit</span>
        </a>
      </li>
  
      <li>
        <a href="#tab-features-2" class="tab-features-v2__control">
          <span class="tab-features-v2__control-title">Image Galleries</span>
          <span class="tab-features-v2__control-description">Lorem ipsum dolor sit amet consectetur</span>
        </a>
      </li>
  
      <li>
        <a href="#tab-features-3" class="tab-features-v2__control">
          <span class="tab-features-v2__control-title">Animations</span>
          <span class="tab-features-v2__control-description">Lorem ipsum dolor sit amet consectetur adipisicing elit</span>
        </a>
      </li>
  
      <li>
        <a href="#tab-features-4" class="tab-features-v2__control">
          <span class="tab-features-v2__control-title">Controls</span>
          <span class="tab-features-v2__control-description">Lorem ipsum dolor sit amet consectetur adipisicing</span>
        </a>
      </li>
  
      <li class="tab-features-v2__text-crop-gradient" aria-hidden="true"></li>
    </ul>
  
    <div class="tab-features-v2__panels js-tabs__panels">
      <section id="tab-features-1" class="tab-features-v2__panel js-tabs__panel">
        <img class="tab-features-v2__img" src="img/tabbed-features-v2-img-1.png" alt="Image description">
      </section>
  
      <section id="tab-features-2" class="tab-features-v2__panel js-tabs__panel">
        <img class="tab-features-v2__img" src="img/tabbed-features-v2-img-2.png" alt="Image description">
      </section>
  
      <section id="tab-features-3" class="tab-features-v2__panel js-tabs__panel">
        <img class="tab-features-v2__img" src="img/tabbed-features-v2-img-3.png" alt="Image description">
      </section>
  
      <section id="tab-features-4" class="tab-features-v2__panel js-tabs__panel">
        <img class="tab-features-v2__img" src="img/tabbed-features-v2-img-4.png" alt="Image description">
      </section>
    </div>
  </div>