<section class="boxed-hero" style="background-image: url('https://d3ae4wrz2ljkbq.cloudfront.net/components/img-16-9-light-4.svg')">
    <div class="cd-position-relative cd-container cd-max-width-adaptive-sm boxed-hero__target js-boxed-hero__target">
      <div class="boxed-hero__content">
        <div class="boxed-hero__label">{{ site.company }}</div>
  
        <h1 class="boxed-hero__heading">{{ site.tagline }}</h1>
  
        <p class="boxed-hero__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam vero aliquam, natus quae architecto hic quod.</p>
    
        <div class="boxed-hero__actions">
          <a href="#0" class="cd-link">Learn more</a>
          <a href="#0" class="cd-btn cd-btn--primary">Download</a>
        </div>
      </div>
  
      <div class="boxed-hero__cursor-follower-wrapper" aria-hidden="true">
        <div class="boxed-hero__cursor-follower js-boxed-hero__cursor-follower"></div>
      </div>
    </div>
  </section>