<section class="hero-video-bg hn4-position-relative hn4-padding-y-2xl">
    <div class="hn4-container hn4-max-width-adaptive-sm">
      <div class="hn4-position-relative hn4-z-index-2 hn4-text-center">
        <div class="hn4-text-sm hn4-opacity-90% hn4-margin-bottom-2xs">{{ site.company }}}}</div>
  
        <div class="hn4-text-component">
          <h1>{{ site.tagline }}}</h1>
          <p class="hn4-opacity-90%">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam vero aliquam, natus quae architecto hic quod!</p>
          <p><a href="#0" class="hn4-color-contrast-higher">Learn more</a></p>
        </div>
      </div>
    </div>
  
    <figure class="hero-video-bg__video" aria-hidden="true">
      <img src="../../assets/img/video-background-hero-img-1.jpg" alt="Video Preview">
      <video autoplay loop muted playsInline src="../../assets/video/video-2.mp4"></video>
    </figure>
  </section>