<div class="fw7-bg-dark fw7-position-relative fw7-z-index-1 fw7-padding-y-xl">
    <div class="fw7-container fw7-max-width-adaptive-md">
      <div class="fw7-bg fw7-inner-glow fw7-shadow-xs fw7-radius-md fw7-overflow-hidden">
        <div class="fw7-grid">
          <figure class="fw7-height-2xl fw7-height-auto@md fw7-col-4@md">
            <img class="fw7-block fw7-height-100% fw7-width-100% fw7-object-cover" src="../../../app/assets/img/form-template-img-1.jpg" alt="Image description">
          </figure>
        
          <div class="fw7-padding-md fw7-col-8@md">
            <form>
              <fieldset class="fw7-margin-bottom-md">
                <legend class="fw7-form-legend">Form Legend</legend>
            
                <div class="fw7-margin-bottom-xs">
                  <div class="fw7-grid fw7-gap-xs">
                    <div class="fw7-col-6@md">
                      <label class="fw7-form-label fw7-margin-bottom-2xs" for="firstName">First Name</label>
                      <input class="fw7-form-control fw7-width-100%" type="text" name="firstName" id="firstName" required>
                    </div>
                
                    <div class="fw7-col-6@md">
                      <label class="fw7-form-label fw7-margin-bottom-2xs" for="lastName">Last Name</label>
                      <input class="fw7-form-control fw7-width-100%" type="text" name="lastName" id="lastName">
                    </div>
                  </div>
                </div>
            
                <div class="fw7-margin-bottom-xs">
                  <label class="fw7-form-label fw7-margin-bottom-2xs" for="inputEmail">Email</label>
                  <input class="fw7-form-control fw7-width-100%" type="email" name="inputEmail" id="inputEmail" placeholder="email@myemail.com">
                </div>
        
                <div>
                  <label class="fw7-form-label fw7-margin-bottom-2xs" for="textarea">Textarea</label>
                  <textarea class="fw7-form-control fw7-width-100%" name="textarea" id="textarea"></textarea>
                  <p class="fw7-text-xs fw7-color-contrast-medium fw7-margin-top-2xs">Use helper text to provide additional information.</p>
                </div>
              </fieldset>
            
              <fieldset class="fw7-margin-bottom-md">
                <legend class="fw7-form-legend">Checkboxes</legend>
            
                <div class="fw7-flex fw7-flex-wrap fw7-gap-md">
                  <div>
                    <input class="checkbox" type="checkbox" id="checkbox1">
                    <label for="checkbox1">Option 1</label>
                  </div>
            
                  <div>
                    <input class="checkbox" type="checkbox" id="checkbox2">
                    <label for="checkbox2">Option 2</label>
                  </div>
                </div>
              </fieldset>
            
              <div class="fw7-text-right fw7-padding-top-sm fw7-border-top">
                <button class="fw7-btn fw7-btn--primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>